{{ $posts := where site.RegularPages "Type" "blog" }}
{{ $scratch := newScratch }}
{{ $grouped := $posts.GroupByDate "2006" }}

<div style="width: 100%;height: 300px;margin: 30px auto">
    <canvas id="yearchart">
        <p>Gráfica de línea que muestra el número de publicaciones por año</p>
    </canvas>
</div>

<table class="post-stats-tbl">
    <tr>
        <th width="30%">Año</td>
        <th width="70%">Número de entradas</td>
    </tr>
    {{ range $grouped.Reverse }}
        {{ $yearPostCount := len (where .Pages "Type" "blog") }}
        <tr>
            <td>{{ .Key }}</td>
            <td>{{ $yearPostCount | lang.NumFmt 0 }}</td>
        </tr>
        {{ $scratch.Add "yearKeys" (slice .Key) }}
        {{ $scratch.Add "yearCount" (slice $yearPostCount) }}
    {{ end }}
</table>

<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script type="text/javascript">
    var ctx = document.getElementById('yearchart').getContext('2d');

    let yearKeys = [{{ range $scratch.Get "yearKeys" }}{{ . }}, {{end}}];
    let yearCount = [{{ range $scratch.Get "yearCount" }}{{ . }}, {{end}}];

    var options = {
        type: 'line',
        data: {
            labels: yearKeys,
            datasets: [
                {
                    label: 'Entradas publicadas',
                    data: yearCount,
                    backgroundColor: 'rgb(54, 162, 235)',
                    borderColor: 'rgb(54, 162, 235)',
                    borderWidth: 3
                }
            ]
        },
        options: {
            maintainAspectRatio: false,
            animation: false,
            scales: {
                y: {
                    beginAtZero: true,
                    grid: {
                        display: false
                    },
                    ticks: {
                        stepSize: 5
                    }
                },
                x: {
                    grid: {
                        display: false
                    }
                }
            }
        }
    };

    new Chart(ctx, options);
</script>