.not-found {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.not-found h1 {
    font-size: 80px;
    font-weight: 700;
    height: 40%;
}

.not-found p {
  font-size: 18px;
  font-weight: 400;
}

.not-found a {
  box-shadow: 0 1px 0;
}